<h1 style="text-align: center;margin: 5rem 0 2rem;">LOGIN </h1>

<form id="loginForm"  style="display: flex; flex-direction:column; margin: 0 auto; width: 550px;">
    <div style="margin-bottom: 1rem;">
        <label style="width: 150px; display: inline-block;">Username</label>
        <input type="text" name="username">
    </div>
    <div style="margin-bottom: 1rem;">
        <label style="width: 150px; display: inline-block;">Password</label>
        <input type="password" name="password">
    </div>
    <input type="submit" value="Login">
    <p>You still do not have an account? <a href="/signup">signup!</a></p>
</form>


<script src="./js/login.js"></script>